


.cabeçao{
    margin-top:-1%;
    margin-left: -0.58%;
    background-color: rgb(243, 199, 199);
}

.outralinha{
    position: absolute;
    top: 180px;
    left: 75%;
}

.bonecudo{
    position: absolute;
    top: -45px;
    left: 50%;

}

.twitter{
    position: absolute;
    top: -45px;
    left: 30%;
}

.instagrama{
    position: absolute;
    top: -45px;
    left: 10%;
}

.lupas{
    position: absolute;
    top: -45px;
    left: 70%;
}

.linhadnv{
   
    position: absolute;
    top: 350px;
    left: 1%;
}

.linha1122{
    position: absolute;
    top: 165px;
    left: 27%;
}

.escritazada22{
    position: absolute;
    top: 140px;
    left: 40%;
}

.escritazada33{
    position: absolute;
    top: 180px;
    left: 37%;
}



.pag1{
    position: absolute;
    top: 370px;
    left: 3%;
}

.pag2{
    position: absolute;
    top: 370px;
    left: 20%;
}

.pag3{
    position: absolute;
    top: 370px;
    left: 37%;
}

.pag4{
    position: absolute;
    top: 370px;
    left: 54%;
}


.pag5{
    position: absolute;
    top: 370px;
    left: 71%;
}


.pag6{
    position: absolute;
    top: 370px;
    left: 90%
}


    
   
   


.anuncios{
    width: 1132; height:  161px;
    margin: auto;
    display: flex;
    justify-content: center;
    margin-top: 15px;

}

.carrossel {
    height: 730px;
    width: 720px;
    display: flex;
    overflow: hidden;
    position: absolute;
    left: 32.2%;
    
    transform: translate(-4%, 4%);
}

.carrossel-controles {
    position: absolute;
    top: 670px;
    left: 39%;
    transform: translate(0%, -20%);
    display: flex;
}

.carrossel-controlado {
    display: flex;
    width: 20px;
    height: 20px;
    border: solid 2px rgb(0, 0, 0);
    margin: 6px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.4s;
}

.carrossel-controlado:hover {
    background-color: black;
}

input {
    display: none;
}

.carrossel-real {
    display: flex;
    width: 100%;
    height: 100%;
}

.carrosselhos1 {
    display: flex;
    gap: 8px;
}

.carrossel-plebeu {
    width: 100%;
    transition: 0.5s;
}

.carrossel-plebeu img {
    border-radius: 20px;
    width: 716px;
    height: 700px;
}

#crr1:checked ~ .carrosselhos1 {
    transform: translateX(0%);
    transition: 0.6s;
}

#crr2:checked ~ .carrosselhos1 {
    transform: translateX(-25%);
    transition: 0.6s;
}

#crr3:checked ~ .carrosselhos1 {
    transform: translateX(-50%);
    transition: 0.6s;
}

#crr4:checked ~ .carrosselhos1 {
    transform: translateX(-75.3%);
    transition: 0.6s;
}

.linkado {
    text-decoration: none;
    color: black;
}



#tabela{
    position: absolute;
    top: 1450px;
    left: 5%;
}

.caçarato{
    top: 1350px;
    margin-left: 42%;
    margin-top: 785px;
}

.felipe{
    position: absolute;
    top: 1900px;
    left: 42%;
}

.lzbarbosa{
    position: absolute;
    top: 2400px;
    left: 5%;
}

#final{
    position: absolute;
    top: 2400px;
    left: 62%;
}

#matheus{
    position:absolute;
    top: 2800px;
    left: 62%;
}

#fundotecnico{
    position: absolute;
    top: 3300px;
}

#tecnico{
    position: absolute;
    top: 190px;
    left: 25%;
}

.anuncio2{
    position: absolute;
    top: 4350px;
    left: 15%;
}

.rodape{
    position: absolute;
    top: 4700px;    
}

.patrocinador{
    position: absolute;
    top: 70px;
    left: 18%;
}

.patrocinador2{
    position: absolute;
    top: 70px;
    left: 32%;
}

.patrocinador3{
    position: absolute;
    top: 70px;
    left: 41%;
}

.X{
    position: absolute;
    top: 90px;
    left: 70%;
}

.of{
    position: absolute;
    top: 90px;
    left: 75%;
}

.instagram{
    position: absolute;
    top: 90px;
    left: 80%;
}

.lupa{
    position: absolute;
    top: 90px;
    left: 90%;
}

.linha{
    position: absolute;
    top: 150px;
    left: 66%;
}

.linha2{
    position: absolute;
    top: 90px;
    left: 86%;
}

.linha3{
    position: absolute;
    top: 280px;
    left: 1.1%;
}

.escritas{
    position: absolute;
    top: 300px;
    left: 1.1%;
}

.patrocinador11{
    position: absolute;
    top: 140px;
    left: 46%;
}

.patrocinador22{
    position: absolute;
    top: 140px;
    left: 38%;
}

.patrocinador33{
    position: absolute;
    top: 140px;
    left: 30%;
}

.patrocinador44{
    position: absolute;
    top: 100px;
    left: 4%;
}

.linha1122{
    position: absolute;
    top: 165px;
    left: 20%;
}

.escritazada22{
    position: absolute;
    top: 140px;
    left: 40%;
}

.escritazada33{
    position: absolute;
    top: 180px;
    left: 37%;
}

.rodapers{
    margin-left: -1.94%;
    position: absolute;
    top: 3500px;
    background-color: black;
}

.logorodape{
position: absolute;
left:40%

}

#fundotecnico{
    position: absolute;
    top: 2400px;
    
    }

#tecnico{
    position: absolute;
    top: 150px;
    left: 21%;
    }

    @media (max-widht: 360px){ 
        


.cabeçao{
    margin-top:-1%;
    margin-left: -0.58%;
    background-color: rgb(243, 199, 199);
}

.outralinha{
    position: absolute;
    top: 180px;
    left: 75%;
}

.bonecudo{
    position: absolute;
    top: -45px;
    left: 50%;

}

.twitter{
    position: absolute;
    top: -45px;
    left: 30%;
}

.instagrama{
    position: absolute;
    top: -45px;
    left: 10%;
}

.lupas{
    position: absolute;
    top: -45px;
    left: 70%;
}

.linhadnv{
   
    position: absolute;
    top: 350px;
    left: 1%;
}

.linha1122{
    position: absolute;
    top: 165px;
    left: 27%;
}

.escritazada22{
    position: absolute;
    top: 140px;
    left: 40%;
}

.escritazada33{
    position: absolute;
    top: 180px;
    left: 37%;
}



.pag1{
    position: absolute;
    top: 370px;
    left: 3%;
}

.pag2{
    position: absolute;
    top: 370px;
    left: 20%;
}

.pag3{
    position: absolute;
    top: 370px;
    left: 37%;
}

.pag4{
    position: absolute;
    top: 370px;
    left: 54%;
}


.pag5{
    position: absolute;
    top: 370px;
    left: 71%;
}


.pag6{
    position: absolute;
    top: 370px;
    left: 90%
}


    
   
   


.anuncios{
    width: 1132; height:  161px;
    margin: auto;
    display: flex;
    justify-content: center;
    margin-top: 15px;

}

.carrossel {
    height: 730px;
    width: 720px;
    display: flex;
    overflow: hidden;
    position: absolute;
    left: 32.2%;
    
    transform: translate(-4%, 4%);
}

.carrossel-controles {
    position: absolute;
    top: 670px;
    left: 39%;
    transform: translate(0%, -20%);
    display: flex;
}

.carrossel-controlado {
    display: flex;
    width: 20px;
    height: 20px;
    border: solid 2px rgb(0, 0, 0);
    margin: 6px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.4s;
}

.carrossel-controlado:hover {
    background-color: black;
}

input {
    display: none;
}

.carrossel-real {
    display: flex;
    width: 100%;
    height: 100%;
}

.carrosselhos1 {
    display: flex;
    gap: 8px;
}

.carrossel-plebeu {
    width: 100%;
    transition: 0.5s;
}

.carrossel-plebeu img {
    border-radius: 20px;
    width: 716px;
    height: 700px;
}

#crr1:checked ~ .carrosselhos1 {
    transform: translateX(0%);
    transition: 0.6s;
}

#crr2:checked ~ .carrosselhos1 {
    transform: translateX(-25%);
    transition: 0.6s;
}

#crr3:checked ~ .carrosselhos1 {
    transform: translateX(-50%);
    transition: 0.6s;
}

#crr4:checked ~ .carrosselhos1 {
    transform: translateX(-75.3%);
    transition: 0.6s;
}

.linkado {
    text-decoration: none;
    color: black;
}



#tabela{
    position: absolute;
    top: 1450px;
    left: 5%;
}

.caçarato{
    top: 1350px;
    margin-left: 42%;
    margin-top: 785px;
}

.felipe{
    position: absolute;
    top: 1900px;
    left: 42%;
}

.lzbarbosa{
    position: absolute;
    top: 2400px;
    left: 5%;
}

#final{
    position: absolute;
    top: 2400px;
    left: 62%;
}

#matheus{
    position:absolute;
    top: 2800px;
    left: 62%;
}

#fundotecnico{
    position: absolute;
    top: 3300px;
}

#tecnico{
    position: absolute;
    top: 190px;
    left: 25%;
}

.anuncio2{
    position: absolute;
    top: 4350px;
    left: 15%;
}

.rodape{
    position: absolute;
    top: 4700px;    
}

.patrocinador{
    position: absolute;
    top: 70px;
    left: 18%;
}

.patrocinador2{
    position: absolute;
    top: 70px;
    left: 32%;
}

.patrocinador3{
    position: absolute;
    top: 70px;
    left: 41%;
}

.X{
    position: absolute;
    top: 90px;
    left: 70%;
}

.of{
    position: absolute;
    top: 90px;
    left: 75%;
}

.instagram{
    position: absolute;
    top: 90px;
    left: 80%;
}

.lupa{
    position: absolute;
    top: 90px;
    left: 90%;
}

.linha{
    position: absolute;
    top: 150px;
    left: 66%;
}

.linha2{
    position: absolute;
    top: 90px;
    left: 86%;
}

.linha3{
    position: absolute;
    top: 280px;
    left: 1.1%;
}

.escritas{
    position: absolute;
    top: 300px;
    left: 1.1%;
}

.patrocinador11{
    position: absolute;
    top: 140px;
    left: 46%;
}

.patrocinador22{
    position: absolute;
    top: 140px;
    left: 38%;
}

.patrocinador33{
    position: absolute;
    top: 140px;
    left: 30%;
}

.patrocinador44{
    position: absolute;
    top: 100px;
    left: 4%;
}

.linha1122{
    position: absolute;
    top: 165px;
    left: 20%;
}

.escritazada22{
    position: absolute;
    top: 140px;
    left: 40%;
}

.escritazada33{
    position: absolute;
    top: 180px;
    left: 37%;
}

.rodapers{
    margin-left: -1.94%;
    position: absolute;
    top: 3500px;
    background-color: black;
}

.logorodape{
position: absolute;
left:40%

}

#fundotecnico{
    position: absolute;
    top: 2400px;
    
    }

#tecnico{
    position: absolute;
    top: 150px;
    left: 21%;
    }

    }
