

.patrocinador11{
    position: absolute;
    top: 100px;
    left: 66%;
}

.patrocinador22{
    position: absolute;
    top: 100px;
    left: 74%;
}

.patrocinador33{
    position: absolute;
    top: 100px;
    left: 82%;
}

.patrocinador44{
    position: absolute;
    top: 100px;
    left: 90%;
}

.linha1122{
    position: absolute;
    top: 165px;
    left: 27%;
}

.escritazada22{
    position: absolute;
    top: 140px;
    left: 40%;
}

.escritazada33{
    position: absolute;
    top: 180px;
    left: 37%;
}



.rodapers{
    background-color: black;
}

