.escritas{
    position: absolute;
    top: 100px;
    left: 20%;
}

.logos{
    position: absolute;
    top: 400px;
    left: 50%;
    transform: translate(-50%, -50%);
}

.rodape{
    position: absolute;
    top: 3300px;
}
.patrocinador11{
    position: absolute;
    top: 100px;
    left: 66%;
}

.patrocinador22{
    position: absolute;
    top: 100px;
    left: 74%;
}

.patrocinador33{
    position: absolute;
    top: 100px;
    left: 82%;
}

.patrocinador44{
    position: absolute;
    top: 100px;
    left: 90%;
}

.linha1122{
    position: absolute;
    top: 165px;
    left: 20%;
}

.escritazada22{
    position: absolute;
    top: 140px;
    left: 40%;
}

.escritazada33{
    position: absolute;
    top: 180px;
    left: 37%;
}

.faixa{
    position: absolute;
    top: 3190px;
}

.anunciodejogo{

    position: absolute;
    top: 300px;
}

.ptcleague{
    position: absolute;
    top: 1100px;
    left: 17%;
}

.copadomundo{
    position: absolute;
    top: 1600px;
    left: 17%;
}

.champions{
    position: absolute;
    top: 2100px;
    left: 17%;
}

.mundial{
    position: absolute;
    top: 2600px;
    left: 17%;
}

.imagemtaça{
    position: absolute;
    top: 60px;
    left: 2%;
}