.escritas{
    position: absolute;
    top: 100px;
    left: 20%;
}

.logos{
    position: absolute;
    top: 400px;
    left: 50%;
    transform: translate(-50%, -50%);
}

.patrocinadores{
    position: absolute;
    top: 4200px;
    left: 50%;
    transform: translate(-50%, -50%);
}

.cabeçao{
    background-color: rgba(238, 238, 238, 1);
}

.outralinha{
    position: absolute;
    top: 180px;
    left: 75%;
}

.twitter{
    position: absolute;
    top: -45px;
    left: 30%;
}

.instagrama{
    position: absolute;
    top: -45px;
    left: 10%;
}

.lupas{
    position: absolute;
    top: -45px;
    left: 70%;
}

.linhadnv{
   
    position: absolute;
    top: 350px;
    left: 1%;
}

.linha1122{
    position: absolute;
    top: 165px;
    left: 27%;
}

.escritazada22{
    position: absolute;
    top: 140px;
    left: 40%;
}

.escritazada33{
    position: absolute;
    top: 180px;
    left: 37%;
}



.pag1{
    position: absolute;
    top: 370px;
    left: 3%;
}

.pag2{
    position: absolute;
    top: 370px;
    left: 20%;
}

.pag3{
    position: absolute;
    top: 370px;
    left: 37%;
}

.pag4{
    position: absolute;
    top: 370px;
    left: 54%;
}


.pag5{
    position: absolute;
    top: 370px;
    left: 71%;
}


.pag6{
    position: absolute;
    top: 370px;
    left: 90%
}

.patrocinador11{
    position: absolute;
    top: 140px;
    left: 46%;
}

.patrocinador22{
    position: absolute;
    top: 140px;
    left: 38%;
}

.patrocinador33{
    position: absolute;
    top: 140px;
    left: 30%;
}
    
#arma{
    position: absolute;
    top: 1800px;
    left: 10%;
}

#sinalizador{
    position: absolute;
    top: 1800px;
    left: 40%;
}

#guardachuva{
    position: absolute;
    top: 1800px;
    left: 70%;
}

#goleiro{
    position: absolute;
    top: 2500px;
    left: 10%;
}

#jogador{
    position: absolute;
    top: 2500px;
    left: 40%;
}

#torcida{
    position: absolute;
    top: 2500px;
    left: 70%;
}

#copo{
    position: absolute;
    top: 3100px;
    left: 10%;
}

#taco{
    position: absolute;
    top: 3100px;
    left: 40%;
}

#caixa{
    position: absolute;
    top: 3100px;
    left: 70%;
}

.rodape{
    position: absolute;
    top: 3700px;    
}

.anunciozada{
    position: absolute;
    top: 600px;
}

.faixa{
    position: absolute;
    top: 1200px;
}